[flake8]
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    migrations,
    venv,
    venv_stable,
    .venv,
    logs
max-line-length = 120
extend-ignore = E203, E501, E302, E305, E122, W391
